<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="42747508098-bq2vi9qvikaqiqjdd6pl0qjouh1ctkek.apps.googleusercontent.com">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>

  <div id="app">

    <!-- register -->
    <section v-if="page === 'register'" class="container" id="register-page">
      <div class="row justify-content-center">
        <div class="col-4 justify-content-around">
          <div class="card p-3 mt-4 shadow">
            <div class="card-body">
              <img src="./assets/people.svg" alt="" class="card-img-top">
              <h2 class="card-title text-center txt-red p-2">KANBAN8
                <br>
                <span>
                  <small class="text-muted text-center">Register</small>
                </span>
              </h2>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control" id="register-email" placeholder="Email address">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" id="register-password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-red btn-block mb-1 text-light">Sign Up</button>
                <small id="emailHelp" class="form-text text-muted">Already have an account? <a onclick="showLogin(event)">Login here.</a></small>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- login -->
    <section v-else-if="page === 'login'" class="container" id="login-page">
      <div class="row justify-content-center">
        <div class="col-4 justify-content-around">
          <div class="card p-3 mt-4 shadow">
            <div class="card-body">
              <img src="./assets/people.svg" alt="" class="card-img-top">
              <h2 class="card-title text-center txt-red p-2">KANBAN8
                <br>
                <span>
                  <small class="text-muted text-center">Login</small>
                </span>
              </h2>
              <form id="login-form" @submit.prevent="login">
                <div class="mb-3">
                  <input 
                    type="email" 
                    class="form-control" 
                    id="login-email" 
                    placeholder="Email address"
                    v-model="email"
                  >
                </div>
                <div class="mb-3">
                  <input 
                    type="password" 
                    class="form-control" 
                    id="login-password" 
                    placeholder="Password"
                    v-model="password"
                  >
                </div>
                <button type="submit" class="btn btn-red btn-block mb-1 text-light">Sign In</button>
                <small id="emailHelp" class="form-text text-muted">Didn't have an account? <a onclick="showLogin(event)">Register here.</a></small>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- dashboard -->
    <section v-else-if="page === 'dashboard'" class="container" id="dashboard">
      <div class="row mt-5">
        <div class="text-c-1">
          <h1 class="p-3"><b>Kanban Board</b>
            <span class="float-right">
              <button class="btn btn-red text-light" type="submit">Sign Out</button>
            </span>
          </h1>
          <h5 class="border-btm p-3">August 2020</h5>
        </div>
        <div class="col-3">
          <div>
            <h5 class="badge bg-secondary backlog">Backlog
              <span class="badge bg-secondary">3</span>
            </h5>
            <span><a href="" class="btn float-right far fa-plus mr-2 txt-red"></a></span>
          </div>
          <div class="mt-2 overflow-auto">
            <div class="card mb-3 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title txt-red">Apa kek gitu
                  <span class="dropdown">
                    <a class="bg-custom fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/admin.svg" alt="">
                  <small class="bg-custom float-left text-mutedml-1">
                    admin@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
            <div class="card mb-2 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title">Apa kek gitu
                  <span class="dropdown">
                    <a class="fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/dian.svg" alt="">
                  <small class="float-left text-muted ml-1">
                    dian@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div>
            <h5 class="badge bg-secondary todo">Todo
              <span class="badge bg-secondary">3</span>
            </h5>
            <span><a href="" class="btn float-right far fa-plus mr-2 txt-org"></a></span>
          </div>
          <div class="mt-2 overflow-auto">
            <div class="card mb-3 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title txt-red">Apa kek gitu
                  <span class="dropdown">
                    <a class="bg-custom fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/admin.svg" alt="">
                  <small class="bg-custom float-left text-mutedml-1">
                    admin@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
            <div class="card mb-2 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title">Apa kek gitu
                  <span class="dropdown">
                    <a class="fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/dian.svg" alt="">
                  <small class="float-left text-muted ml-1">
                    dian@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div>
            <h5 class="badge bg-secondary doing">Doing
              <span class="badge bg-secondary">3</span>
            </h5>
            <span><a href="" class="btn float-right far fa-plus mr-2 txt-crm"></a></span>
          </div>
          <div class="mt-2 overflow-auto">
            <div class="card mb-3 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title txt-red">Apa kek gitu
                  <span class="dropdown">
                    <a class="bg-custom fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/admin.svg" alt="">
                  <small class="bg-custom float-left text-mutedml-1">
                    admin@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
            <div class="card mb-2 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title">Apa kek gitu
                  <span class="dropdown">
                    <a class="fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/dian.svg" alt="">
                  <small class="float-left text-muted ml-1">
                    dian@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div>
            <h5 class="badge bg-secondary done">Done
              <span class="badge bg-secondary">3</span>
            </h5>
            <span><a href="" class="btn float-right far fa-plus mr-2 txt-grn"></a></span>
          </div>
          <div class="mt-2 overflow-auto">
            <div class="card mb-3 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title txt-red">Apa kek gitu
                  <span class="dropdown">
                    <a class="bg-custom fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/admin.svg" alt="">
                  <small class="bg-custom float-left text-mutedml-1">
                    admin@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
            <div class="card mb-2 shadow m-1" draggable="true">
              <div class="card-body">
                <h5 class="card-title">Apa kek gitu
                  <span class="dropdown">
                    <a class="fas fa-ellipsis-v float-right btn" role="button" id="menu" data-toggle="dropdown" aria-expanded="false"></a>
  
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>Edit</a></li>
                      <li><a class="dropdown-item" href="#"><span class="fas fa-trash mr-2"></span>Remove</a></li>
                    </ul>
                  </span>
                </h5>
                <p class="card-text">apa lagi ini</p>
                <div class="justify-content-around profile">
                  <img class="img-fluid avt float-left p-1" src="https://avatars.dicebear.com/api/female/dian.svg" alt="">
                  <small class="float-left text-muted ml-1">
                    dian@mail.com <br>
                    Hacktiv8
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
        add modal demo
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
        edit modal demo
      </button>

    </section>

    <!-- add task -->
    <section class="container" id="addForm">
      <div class="modal fade" id="addModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content p-2">
            <div class="modal-header">
              <h5 class="modal-title txt-red" id="staticBackdropLabel">Add Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="add-title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="add-title">
                </div>
                <div class="mb-3">
                  <label for="add-desc" class="form-label">Description</label>
                  <textarea class="form-control" id="add-desc" cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-red text-light">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- edit task -->
    <section class="container" id="editForm">
      <div class="modal fade" id="editModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content p-2">
            <div class="modal-header">
              <h5 class="modal-title txt-red" id="staticBackdropLabel">Edit Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="edit-title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="edit-title">
                </div>
                <div class="mb-3">
                  <label for="edit-desc" class="form-label">Description</label>
                  <textarea class="form-control" id="edit-desc" cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-red text-light">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </div>

    
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./main.js"></script>
</body>
</html>